<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftyOnboardVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A30B3E9F1F2F554E002D5804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A30B3EB31F2F554E002D5804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A30B3EBE1F2F554E002D5804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
